@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    display: block;
    width: 300px;
}
.close {
    display: none;
}
.hexagon {
    width: 100px;
    height: 100px; /* Hauteur de l'hexagone (calculez-la comme (sqrt(3) / 2) * largeur) */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
